{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Follower list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fbuid</th>
                <th>Mobile</th>
                <th>Locationfbid</th>
                <th>Locationfbname</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Birthdate</th>
                <th>Fbrelationshipstatus</th>
                <th>Signupdate</th>
                <th>Allowclemail</th>
                <th>Allowclsms</th>
                <th>Deactivated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('follower_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.fbUid }}</td>
                <td>{{ entity.mobile }}</td>
                <td>{{ entity.locationFbId }}</td>
                <td>{{ entity.locationFbname }}</td>
                <td>{{ entity.firstname }}</td>
                <td>{{ entity.lastname }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.gender }}</td>
                <td>{% if entity.birthdate %}{{ entity.birthdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.fbRelationshipStatus }}</td>
                <td>{% if entity.signupdate %}{{ entity.signupdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.allowClEmail }}</td>
                <td>{{ entity.allowClSms }}</td>
                <td>{{ entity.deactivated }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('follower_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('follower_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('follower_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
