{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Followers </h1>

    <ul>
        <li>
            <a href="{{ path('follower_new') }}">
                Add a follower record
            </a>
        </li>
    </ul>

    <table class="records_list cldefaulttable">
        <thead>
            <tr>
                <th>CrowdLuv Id</th>   
                
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Facebook Location</th>
                                
                <th>Birthdate</th>
                <th>Mobile</th>
                <th>Signupdate</th>
                <th>Allowing CL email?</th>
                <th>Allowing CL SMS</th>
                <th>Deactivated</th>
                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('follower_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                 <li>
                        <a href="{{ path('follower_show', { 'id': entity.id }) }}">View</a>
                    </li>
                    
                </td>
                                
                
                <td>{{ entity.firstname }}</td>
                <td>{{ entity.lastname|slice(0,15) }}</td>
                <td>{{ entity.locationFbname }}</td>
                                
                <td>{% if entity.birthdate %}{{ entity.birthdate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.mobile }}</td>
                <td>{% if entity.signupdate %}{{ entity.signupdate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.allowClEmail }}</td>
                <td>{{ entity.allowClSms }}</td>
                <td>{{ entity.deactivated }}</td>
                

            </tr>
        {% endfor %}
        </tbody>
    </table>

 
    {% endblock %}
