{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Reviewing Follower Account</h1>
    <p><a href="{{ path('follower') }}">Return to Follower Management</a></p>
        

    <img src="https://graph.facebook.com/{{entity.fbUid}}/picture?access_token={{ app.session.get('fbAccessToken') }}&type=normal"> 
    <p>{{ entity.firstname }} {{ entity.lastname }} </p>

    <div class="row">
        <div class="col-xs-12 col-sm-5">
            <h1>Basic Info<h1>
            <a href="{{ path('follower_edit', { 'id': entity.id }) }}">
                <button>Edit Basic Info</button>
                {{ form(delete_form) }}
            </a>
            <table class="record_properties cldefaulttable">
                <tbody>
                    <tr>
                        <th>CrowdLuv UserID</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Facebook User ID</th>
                        <td>{{ entity.fbUid }}</td>
                    </tr>
                    <tr>
                        <th>Mobile</th>
                        <td>{{ entity.mobile }}</td>
                    </tr>
                    <tr>
                        <th>Locationfbid</th>
                        <td>{{ entity.locationFbId }}</td>
                    </tr>
                    <tr>
                        <th>Location (facebook)</th>
                        <td>{{ entity.locationFbname }}</td>
                    </tr>
                    <tr>
                        <th>First Name</th>
                        <td>{{ entity.firstname }}</td>
                    </tr>
                    <tr>
                        <th>Last Name</th>
                        <td>{{ entity.lastname }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ entity.email }}</td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td>{{ entity.gender }}</td>
                    </tr>
                    <tr>
                        <th>Birthdate</th>
                        <td>{{ entity.birthdate|date('Y-m-d H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th>Relationship Status</th>
                        <td>{{ entity.fbRelationshipStatus }}</td>
                    </tr>
                    <tr>
                        <th>Signup date</th>
                        <td>{{ entity.signupdate|date('Y-m-d H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th>Allowing CL email?</th>
                        <td>{{ entity.allowClEmail }}</td>
                    </tr>
                    <tr>
                        <th>Allowing CL sms</th>
                        <td>{{ entity.allowClSms }}</td>
                    </tr>
                    <tr>
                        <th>Deactivated</th>
                        <td>{{ entity.deactivated }}</td>
                    </tr>


                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-sm-5">
            <h1>Has Luve'ed</h1>
            {% for followedTalent in followedTalents %}
                <div class="cl_graybackground cl_grayborder talentpagelisting">   
                    <a href="{{ path('followerluvstalent_edit', { 'id': followedTalent.id }) }}">
                    <img src="https://graph.facebook.com/{{followedTalent.crowdluvTalent.fbPid}}/picture?access_token={{ app.session.get('fbAccessToken') }}"> 
                    &nbsp;&nbsp {{followedTalent.crowdluvTalent}} 
                    </a>
                
                </div>        
            {% endfor %}
        </div>

    </div>

    {% endblock %}


