
<!DOCTYPE html>
<html>
<head>
  <title>CrowdLuv Admin</title>
  
  <link rel="shortcut icon" href="%kernel.root_dir%/../../favicon.ico">  
    
    {% block stylesheets %}
        {% stylesheets             
            '%kernel.root_dir%/../../css/bootstrap.css'
            '%kernel.root_dir%/../../css/bootstrap_ms.css'
            '%kernel.root_dir%/../../css/style.css'

        %}
        <link rel ="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

    {% endblock %}


</head>

<body>

    <div class="CL_fullpagewrapper">
   
        <div class="header cl_site_section_header landing">
            <a id="cl_header_link" href="../../"></a>
        </div>

        <div class="container" id="content">
 
           {% block body %}       {% endblock %}
 

            {% block javascripts %}
                {% javascripts '%kernel.root_dir%/../../js/bootstrap.min.js'
                    '%kernel.root_dir%/../../scripts/main.js' 
                %}
                <script src="{{ asset_url }}"></script>
                {% endjavascripts %}

            {% endblock %}


            <div class="crowdluvsection clwhitebg crowdluv_landingpage_memberlogin_box">
                <h1> Admin Sign-in </h1>        
                <a href="{{ app.session.get('fbloginurl') }}">
                    <img width="60%" class="img-responsive" src="{{ app.session.get('BASE_URL') }}res/select-facebook-pages.jpg" /></a><br>

                <p>Logged In as: {{ app.session.get('CL_LOGGEDIN_USER_OBJ').firstname }} {{ app.session.get('CL_LOGGEDIN_USER_OBJ').lastname }}</p>
                <p>CL_UID: {{ app.session.get('CL_LOGGEDIN_USER_UID') }}; fb_user: {{ app.session.get('fb_user') }}</p>
                <p>Administrating on Environment: {{ app.session.get('CROWDLUV_ENV') }}</p>
                
                

           
            </div>

        </div>


        <div class="fluid-row footer">

            <div class="col-md-2 col-md-offset-10">
                <p>&copy; CrowdLuv</p>
            </div>

        </div>

    </div> 


</body>
</html>