
<!DOCTYPE html>
<html>
<head>
  <title>CrowdLuv Admin</title>
  
  <link rel="shortcut icon" href="%kernel.root_dir%/../../favicon.ico">  
    
    {% block stylesheets %}
        {% stylesheets             
            '%kernel.root_dir%/../../css/bootstrap.css'
            '%kernel.root_dir%/../../css/bootstrap_ms.css'
            '%kernel.root_dir%/../../css/style.css'

        %}
        <link rel ="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

    {% endblock %}


</head>

<body>

    <div class="CL_fullpagewrapper">
   
        <div class="header cl_site_section_header admin">
                    
            <img width="35px" id="cl_navicon" class="threebarnav" src="{{ app.session.get('BASE_URL') }}res/3bar-nav.jpg">

            <ul id="cl_nav" class="nav nav-pills ">
              <!-- <li><a href="shareluv.php">Share Luv</a></li>
              <li><a href="#">Feedback</a></li>  -->
              {% if app.session.get("fb_user") is defined %}

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"  href="#">
                      Admin <span class="caret"></span>            </a>

                    <ul class="dropdown-menu" role="menu">
                      <li><a href="{{ app.session.get('BASE_URL') }}crowdluvadmin/web/">Admin Home</a></li>
                      <li><a href="{{ app.session.get('BASE_URL') }}crowdluvadmin/web/follower">Follower Console</a></li>
                      <li><a href="{{ app.session.get('BASE_URL') }}crowdluvadmin/web/talent">Talent Console</a></li>
                    </ul>
                </li>



              {% endif %}
            </ul>

            <a id="cl_header_link" href="{{ app.session.get('BASE_URL') }}"></a>
            
        </div>

        <div class="container" id="content">
 
           {% block body %}       {% endblock %}
 

            {% block javascripts %}
                {% javascripts 
                    'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
                    '%kernel.root_dir%/../../js/bootstrap.min.js'
                    '%kernel.root_dir%/../../scripts/main.js' 
                %}
                <script src="{{ asset_url }}"></script>
                {% endjavascripts %}

            {% endblock %}

            <div class="row">
            <div class="col-xs-6 crowdluvsection clwhitebg ">
                <h1> <a href="{{ app.session.get('fbloginurl') }}">Admin Sign-in</a> </h1>        
                {% if  app.session.get('CL_LOGGEDIN_USER_OBJ').firstname is defined %}
                <p>Logged In as: {{ app.session.get('CL_LOGGEDIN_USER_OBJ').firstname }} {{ app.session.get('CL_LOGGEDIN_USER_OBJ').lastname }}</p>
                <p>CL_UID: {{ app.session.get('CL_LOGGEDIN_USER_UID') }}; fb_user: {{ app.session.get('fb_user') }}</p>
                {% endif %}
                <p>Administrating on Environment: {{ app.session.get('CROWDLUV_ENV') }}</p>   
                <a href="{{ app.session.get('fbloginurl') }}">
                    <img width="60%" class="img-responsive" src="{{ app.session.get('BASE_URL') }}res/select-facebook-pages.jpg" /></a><br>

            </div>
            </div>

        </div>


        <div class="fluid-row footer">

            <div class="col-md-2 col-md-offset-10">
                <p>&copy; CrowdLuv</p>
            </div>

        </div>

    </div> 


</body>
</html>