{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Talent Management Console</h1>

    <table class="records_list cldefaulttable">
        <thead>
            <tr>
                <th>Id</th>
                
                <th>Talent Name (Facebook Page Name)</th>
                
                
                <th>Waitlisted</th>
                <th>CrowdLuv Vanity URL</th>
             
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                
                <td><a href="{{ path('talent_show', { 'id': entity.id }) }}">{{ entity.fbPageName }}</a></td>
                
                <td>{{ entity.waitlisted }}</td>
                <td>{{ entity.crowdluvVurl }}</td>
         
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('talent_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
